@using BA.MultiMvc.Framework
@section head {
    <title>@TenantResources.Values["about_title"]</title>
}
<div id="content">
    <div class="inCont">
        <h1>@TenantResources.Values["about_title"]</h1>
        <p>
            @Html.Raw(@TenantResources.Values["about_body"])
        </p>
    </div>
</div>
