<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>                                                                                                                                            
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Dev\MultiMVC\src\Sample\BA.MultiTenantMVC.Sample\App_Data\MultiMVCSampleDB.mdf;Integrated Security=True;User Instance=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>