body {
 width:100%
}
#container {
        width: 90%;
        margin: 10px auto;
        background-color: #fff;
        color: #333;
        font-family :calibri;
        font-size:small;
        line-height: 130%;
    }
#nlLink 
{
    float:left;
    margin: 0 50px 0 0px;
}
#flLink
{
    margin: 0 50px 0 50px;
}
#enLink
{
    margin: 0 50px 0 50px;
}
