/* =============================================================================
HTML5 Boilerplate CSS: h5bp.com/css
========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #2b502b; color: #fff; text-shadow: none; }
::selection { background: #2b502b; color: #fff; text-shadow: none; }

a { color: #FF0000FF; }
a:visited { color: #FF5A08A5; }
a:hover { color: #FF1D686B; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

textarea {
min-height: 75px;
min-width: 600px;
}

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
Author: Ludo LWS
========================================================================== */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 5, 2012 */
@font-face {
font-family: 'MyriadProSemibold';
src: url('/Content/Default/fonts/myriadpro-semibold-webfont.eot');
src: url('/Content/Default/fonts/myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('/Content/Default/fonts/myriadpro-semibold-webfont.woff') format('woff'),
url('/Content/Default/fonts/myriadpro-semibold-webfont.ttf') format('truetype');

font-weight: normal;
font-style: normal;
}
html
{
height:100%;
position:relative;
}
body
{
height:100%;
position:relative;
color:#191919;
}
#container
{width:960px;margin:0 auto;position:relative;top:9%}
/** HEADER **/
#menu
{height:37px;width:960px;background:green;background: url('/Content/Default/images/bg_menu.png') repeat-x}
#menu ul
{margin-top:0;padding:0;}
#menu ul li
{float:left;list-style-type:none;font-family: 'MyriadProSemibold',arial,sans-serif;}
#menu ul li a
{
text-decoration:none;
color:#ffffff;
display:block;height:37px;
line-height:37px;
font-size:15px;
}
#menu ul li.active a,#menu ul li a:hover
{
font-size:18px;
background: url('/Content/Default/images/bg_menu_home.png') repeat-x;
color:#e6e3d8;
}
#menu ul.nav
{
margin-left:38px;
}
#menu ul.nav li a
{text-align:center;}
#menu ul.nav li
{
width:100px;
}
#menu ul.nav li+li
{
width:260px;
}
#menu ul.nav li+li+li
{
width:155px;
}
#menu ul.nav li+li+li+li
{
width:100px;
}
#menu ul.nav li+li+li+li+li
{
width:167px;
}
#menu ul.lang
{
float:right;margin-right:20px;margin-bottom:0;
}
#menu ul.lang li
{color:#fff;font-size:12px;}
#menu ul.lang li a
{
padding:0;
font-size:12px;
display: inline;
}
#menu ul.lang li a:hover
{background:none;}
/** Fin header **/
/** CONTENT **/

#content
{
background: url('/Content/Default/images/bg_content.png') repeat-x;
height:590px;
font-family:arial,sans-serif;
}
#content h2
{
color:#191919;
font-size:17px;
}
#content p
{
font-size:13px;
margin-bottom:20px;
}
div#content div.homecont
{width:580px;background: url('/Content/Default/images/bandeau_accueil.png');padding-left:60px;
padding-top:30px;padding-right:322px;height:465px;background-position:1px 1px;}
#content img.club
{float:left;}
div.code
{
width:200px;padding-left:35px;
padding-top:25px;
}
div.code form input.text,.inCont form input.text
{
height:22px;padding-top:2px;padding-bottom:2px;
width:85px;
padding-right:10px;padding-left:10px;
border:1px solid #ccc;
}
div.code form input.submit,.inCont form input.submit
{
height:35px;
width:35px;
border:none;
background: url('/Content/Default/images/submit.png') no-repeat;
font:0/0 a;margin-left:20px;
}
div.links
{
margin-left:75px;
margin-top:70px;
}
div.links a
{
width:135px;color:#1f4b18;font-weight:bold;font-size:16px;display:block;text-align:center;float:left;text-decoration:none;
}
div.code, div.links
{
float:left;
}
/** login **/
.inCont,#content div.homecont
{
height:465px;padding-top:30px;padding-left:60px;
}
.inCont form
{
background: url("/Content/Default/images/bg_form_login.png") no-repeat scroll 0 0 transparent;
height: 270px;
margin-left: -6px;
margin-top: 5px;
padding: 30px;
width: 385px;
}
.inCont form label,.inCont form span
{
font-size:13px;
}

.inCont form input.checkbox
{
margin-right:5px;
}
.inCont form input.text
{
margin-bottom:10px;
}
#content .inCont form input.submit
{
margin-left:0;margin-top:5px;
}
#content .inCont form .footForm
{font-size:11px;color:#191919;}
/** fin login **/
/** FAQ**/
ul.menu_left
{
margin:0;padding:0;
width:365px;
}
div.response
{width:450px;padding-left:20px;border-left:1px solid #191919;}
ul.menu_left li
{list-style-type:none;}
ul.menu_left li a
{
font-size:13px;color:#191919;text-decoration:none;
}
ul.menu_left li.active a,ul.menu_left li a:hover
{font-weight:bold;}
ul.menu_left,div.response
{
float:left;
}
/** fin faq**/
/**fin Content**/

/** footer **/
div#footer
{margin:0 auto;}
div#footer a
{
font-weight:bold;
color:#1f4b18;
font-size:12px;text-decoration:none;margin-left:120px;
}
/*fin footer*/

/* Specific Styles*/
/*error*/
.clear {
clear: both;
}

.error {
color: Red;
}

.footer {
height: 300px;
margin-top: 50px;
vert-align: bottom;
}

.next_btn {
height: 100px;
margin-top: 50px;
vert-align: bottom;
}

div.one_column
{padding-left:20px;border-left:1px solid #191919;}

div#content div.homecont
{width:580px;background: url('/Content/Default/images/bandeau_accueil.png');padding-left:60px;
padding-top:30px;padding-right:322px;height:465px;background-position:1px 1px;}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
color: #ff0000;
}

.field-validation-valid {
display: none;
}

.input-validation-error {
border: 1px solid #ff0000;
background-color: #ffeeee;
}

.validation-summary-errors {
font-weight: bold;
color: #ff0000;
}

.validation-summary-valid {
display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label {
margin: 1em 0 0 0;
}

.display-field,
.editor-field {
margin: 0.5em 0 0 0;
}

.text-box {
width: 30em;
}

.text-box.multi-line {
height: 6.5em;
}

.tri-state {
width: 6em;
}


/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/

fieldset {
padding: 0 1.4em 1.4em 1.4em;
margin: 0 0 1.5em 0;
}

legend {
font-size: 1.2em;
font-weight: bold;
color: gray;
text-decoration: underline;
}

textarea {
min-height: 75px;
}

/* TABLE
----------------------------------------------------------*/

table {

border-collapse: collapse;
}

table td {
padding: 5px;

}

table th {
padding: 6px 5px;
text-align: left;

}

.table
{
display:table;

}

.rowtitle
{
display:table-row;
vertical-align:bottom;
}

.cell
{
display:table-cell;
vertical-align:top;
text-align: left;
}
.hidden{
display:none;
}

.row{
display:table-row;
}

.smstext {
font-family: Courier; font-size: small;
}
.mailtext {
font-family: sans-serif; font-size:small;
}

#label_sms {

padding-top: 20px;
list-style-type:none;font-family: 'MyriadProSemibold',arial,sans-serif;
max-width: 600px;
}

#label_mail {
padding-top: 20px;
list-style-type:none;font-family: 'MyriadProSemibold',arial,sans-serif;
max-width: 600px;
}

#BadgeNbr {
height:22px;padding-top:2px;padding-bottom:2px;
width:85px;
padding-right:10px;padding-left:10px;
border:1px solid #ccc;
}
#LabelNbr {
height:22px;padding-top:2px;padding-bottom:2px;
width:85px;
padding-right:10px;padding-left:10px;
border:1px solid #ccc;
}